@font-face {
  font-family: NHU;
  src: url('../fonts/NeueHaasUnica-Regular.ttf');
}

:root {
  --white: #F9F9F9;
  --black: #090909;
}

body {
  background: var(--white);
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h4,
h5,
p {
  color: var(--black);
}

h1,
h2,
h3 {
  font-family: bc-novatica-cyr, sans-serif;
}

p,
h4 {
  font-family: NHU;
}

.header {
  color: #E6EBF4;
}

/*///////*MOBILE*/
@media (max-width: 500px) {
  body {
    display: flex;
    flex-direction: row;
  }

  h1 {
    font-weight: 300;
    font-style: normal;
    font-size: 100px;
    line-height: 100px;
  }

  h2 {
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
  }

  h3 {
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
  }

  h4 {
    font-weight: 700;
    font-style: medium;
    font-size: 14px;
  }

  p {
    font-size: 12px;
    line-height: 14px;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: row;
    /* width: 200vw; */
    height: 100vh;
    overflow-y: hidden;

    .page1 {

      .cov-comp,
      .infos-comp {
        display: none;
      }

      .cov {
        width: 100vw;
        height: 100vh;
        position: relative;
        
        .comp {
          display: none;
        }
      
        .mobile {
          display: block;
        }

        .name-script {
          position: absolute;
          /* z-index: -1; */
          width: 100%;
          height: 100%;
          margin-top: 0;
        }

        .txt-infos {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;

          .contact-infos {
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            margin: 16px 16px 0px 16px;

            .txt {
              right: 0;
              line-height: 12px;
            }
          }

          .name-grotesk {
            height: 100%;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            margin-right: 60px;
          }

          .name-grotesk h1 {
            writing-mode: vertical-lr;
          }

          .left {
            flex-direction: row;
            margin-left: 60px;
          }
        }
      }

      .hide {
        display: none;
      }
    }

    .page2 {

      .infos {
        width: 100vw;
        height: 100vh;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        overflow: scroll;

        .section {
          display: flex;
          flex-direction: column;
          gap: 4px;

          .competences {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .competence {
              display: flex;
              flex-direction: row;
              gap: 22px;

              & p {
                width: 120px;
              }
            }
          }

          .marge {
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}

@media (min-width: 500px) {
  .mobile {
    display: none;
  }

  h1 {
    font-weight: 300;
    font-style: normal;
    font-size: 100px;
    line-height: 100px;
  }

  h2 {
    font-weight: 500;
    font-style: normal;
    font-size: 100px;
  }

  h3 {
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
  }

  h4 {
    font-weight: 700;
    font-style: medium;
    font-size: 24px;
  }

  p {
    font-size: 18px;
    line-height: 18px;
  }

  .container {
    overflow-x: hidden;
  }

  .cov-comp {
    width: 100vw;
    height: 100vh;
    display: flex;

    .ML {
      display: block;
      padding: 50px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .infos-comp {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row-reverse;

      .infos-comp p {
        font-size: 10px;
      }

      .txt1 {
        position: absolute;
        left: 10%;
        top: 2%;
      }

      .txt2 {
        position: absolute;
        left: 50%;
        top: 6%;
      }

      .txt3 {
        position: absolute;
        right: 10%;
        top: 1%;
      }
    }
  }

  .click {
    display: block;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: opacity, 1s;
  }

  .page2 {
    margin: 50px;

    .sections {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-right: 5vw;

      .section {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: nowrap;

        .subsections {
          display: flex;
          flex-direction: row;
          /* align-items: center; */
          /* gap: 10px; */

          .time,
          .ed-info {
            display: flex;
            flex-direction: column;
          }

          .time {
            justify-content: space-around;
          }

          .ed-info {
            gap: 12px;
          }
        }
      }
    }
  }
}