@font-face {
  font-family: NHU;
  src: url('../fonts/NeueHaasUnica-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: NHU;
  src: url('../fonts/NeueHaasUnica-Regular.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: NHU;
  src: url('../fonts/NeueHaasUnica-Medium.ttf');
  font-weight: 700;
  font-style: normal;
}

/* @import url("https://p.typekit.net/p.css?s=1&k=cdy6qvg&ht=tk&f=45564.45566.45567.45568.45572.45573&a=70939912&app=typekit&e=css"); */

:root {
  --white: #F9F9F9;
  --black: #090909;
  --grey: #E6EBF4;
}

body {
  background: var(--white);
  display: flex;
  flex-direction: row;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

* {
  box-sizing: border-box;
  margin: 0;
  letter-spacing: -0.05em;
}

.display-none {
  display: none;
}

h1,
h2,
h4,
h5,
p {
  color: var(--black);
}

h1 {
  font-family: bc-novatica-cyr, sans-serif;
}

p,
h2,
h3,
h4 {
  font-family: NHU;
}

h1 {
  font-weight: 500;
  font-style: normal;
  padding-bottom: 8px;
}

h2,
h3 {
  font-weight: 700;
  font-style: medium;
}

h3 {
  padding-bottom: 4px;
}

h4 {
  font-weight: 300;
  font-style: normal;
  text-align: right;
}

h3,
h4,
.txt-card p {
  text-transform: uppercase;
}

#MLmobile {
  background-image: url('../images/ML-mobile.svg');
}

#LMmobile {
  background-image: url('../images/LM-mobile.svg');
}

#MLcomp {
  background-image: url('../images/ML.svg');
}

#LMcomp {
  background-image: url('../images/LM.svg');
}


#marble {
  background-image: url('../images/cov-marble.svg');
}

#capslock {
  background-image: url('../images/cov-capslock.svg');
}

#websynth {
  background-image: url('../images/cov-websynth.svg');
}

#sxd {
  background-image: url('../images/cov-sexed.svg');
}

#allt {
  background-image: url('../images/cov-allt.svg');
}

#sx33 {
  background-image: url('../images/cov-sx33.svg');
}

#ravegraf {
  background-image: url('../images/cov-ravegrafika.svg');
}

#unclemega {
  background-image: url('../images/cov-unclemega.svg');
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: hidden;
}

.header {
  color: var(--grey);
}

.btn-portfolio {
  bottom: 3%;
  color: var(--white);
  background: var(--black);
  padding: 6px 12px 8px 12px;
  border-radius: 30px;
  margin: auto;
  cursor: pointer;

  & p {
    color: var(--white);
    text-align: center;
  }
}

.click {
  display: block;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: opacity, 1s;
}

.cov-comp,
.cov-mobile {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .ML {
    margin: 8px;
    flex-grow: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .hide {
    display: none;
  }
}

/* /////////////////mobile to finish - vertical names////////////////// */

@media (width <= 600px) {
  .comp {
    display: none;
  }

  h1 {
    font-size: 60px;
    line-height: 60px;
  }

  h2 {
    font-size: 22px;
    line-height: 22px;
  }

  h3 {
    font-size: 20px;
    line-height: 20px;
  }

  h4 {
    font-size: 18px;
    line-height: 18px;
  }

  p {
    font-size: 16px;
    line-height: 16px;
  }

  .page1 {

    .cov-mobile {

      .infos-mobile {
        display: flex;
        width: 100%;
        
        .txt {
          padding: 16px 16px 0 16px;
        }
      }
      #txt1-m {
        justify-content: flex-end;
      }
      #txt2-m {
        flex-direction: row;
        justify-content: flex-start;
        padding: 8px;
        justify-content: space-between;
        align-items: center;

        & div {
          flex-grow: 1;
          max-width: 30%;
        }

        .cv {
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }
  }

  .page2 {

    .infos {
      width: 100vw;
      height: 100vh;
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      overflow: scroll;

      .sections {
        display: flex;
        flex-direction: column;
        gap: 88px;
        margin-bottom: 44px;

        .subsection {
          display: flex;
          flex-direction: column;
          flex: 1 1 45%;
          gap: 16px;
          border-left: solid var(--black);
          padding-left: 2vw;
      
          .content {
            display: flex;
            flex-direction: row;
            gap: 12px;
            justify-content: space-between;
            align-items: flex-start;
            flex: 1 1 0px;
      
            .time {
              color: var(--white);
              background: var(--black);
              padding: 6px 12px 8px 12px;
              border-radius: 16px;
              display: inline-block;
              /* flex: 1 1 0px; */
            }
      
            & span {
              flex: 1 1 0px;
            }
          }
      
          .competences {
            display: flex;
            flex-direction: column;
            flex: 1 1 0px;
            gap: 10px;
            padding-right: 2vw;
      
            .competence {
              display: flex;
              flex-direction: row;
              gap: 8px;
              align-items: center;
              flex: 1 1 0px;
      
              & h2 {
                width: 165px;
              }
      
              & img {
                flex: 1 1 0;
              }
            }
          }
      
          .marge {
            margin-bottom: 24px;
          }
        }

        .subsection:nth-child(4) {
          & span {
            display: flex;
            flex-direction: row;
            flex: 0 1 0px;
            align-items: flex-end;
            gap: 8px;
          }
        }
      }
    }
  }

  .portfolio-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 8px;
    z-index: 2;
    background: var(--white);
    overflow: scroll;
  }

  .page3 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    .cards-row {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .card {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: flex-end;
        gap: 4px;
        width: 100%;

        .img-card {
          width: 100%;
          border-radius: 10px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          display: inline-block;
          aspect-ratio: 1/1;
        }

        .txt-card {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 8px 4px;
          width: 100%;
        }
      }
    }
  }
}

/* ////////////////tablet - horizontal names/////////////////// */

@media (600px < width <= 768px) {
  .mobile {
    display: none;
  }

  h1 {
    font-size: 60px;
    line-height: 60px;
  }

  h2 {
    font-size: 26px;
    line-height: 26px;
  }

  h3 {
    font-size: 18px;
    line-height: 18px;
  }

  h4 {
    font-size: 16px;
    line-height: 16px;
  }

  p {
    font-size: 20px;
    line-height: 20px;
  }

  .page1 {

    .cov-comp {
      
      .infos-comp {
        display: flex;
        width: 100%;

        & p {
          font-size: 16px;
        }
      }

      #txt1-c {
        justify-content: space-between;

        .txt1 {
          display: inline-block;
          padding-left: 10%;
          padding-top: 2%;
        }
      
        .txt2 {
          display: inline-block;
          padding-left: 30%;
          padding-top: 6%;
        }
      
        .txt3 {
          display: inline-block;
          padding-right: 20%;
          padding-top: 1%;
        }
      }

      #txt2-c {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 24px;
        justify-content: space-between;
        align-items: center;

        & div {
          flex-grow: 1;
          max-width: 30%;
        }

        .cv {
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          justify-content: flex-end;
        }

        .btn-portfolio {
          margin-right: auto;
          & :hover {
            box-shadow: 0 15px 25px black;
          }
        }
      }
    }
  }


  .page2 {

    .infos {
      width: 100vw;
      height: 100vh;
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      overflow: scroll;
      
      .sections {
        display: flex;
        flex-direction: column;
        gap: 88px;
        margin-bottom: 44px;

        .subsection {
          display: flex;
          flex-direction: column;
          flex: 1 1 45%;
          gap: 16px;
          border-left: solid var(--black);
          padding-left: 2vw;

          .content {
            display: flex;
            flex-direction: row;
            gap: 12px;
            justify-content: space-between;
            align-items: flex-start;
            flex: 1 1 0px;

            .time {
              color: var(--white);
              background: var(--black);
              padding: 6px 12px 8px 12px;
              border-radius: 16px;
              display: inline-block;
              /* flex: 1 1 0px; */
            }

            & span {
              flex: 1 1 0px;
            }
          }

          .competences {
            display: flex;
            flex-direction: column;
            flex: 1 1 0px;
            gap: 10px;
            padding-right: 2vw;

            .competence {
              display: flex;
              flex-direction: row;
              gap: 8px;
              align-items: center;
              flex: 1 1 0px;

              & h2 {
                width: 252px;
              }

              & img {
                flex: 1 1 0;
              }
            }
          }

          .marge {
            margin-bottom: 24px;
          }
        }

        .subsection:nth-child(4) {
          & span {
            display: flex;
            flex-direction: row;
            flex: 0 1 0px;
            align-items: flex-end;
            gap: 8px;
          }
        }
      }
    }
  }

  .portfolio-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 8px;
    z-index: 2;
    background: var(--white);
    overflow: scroll;
  }

  .page3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;

    .cards-row {
      display: flex;
      flex-direction: row;
      gap: 8px;
      flex: 1 0 0;

      .card {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: flex-end;
        gap: 4px;
        min-width: 64%;

        .img-card {
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          flex: 1 1 0;
          border-radius: 10px;
          aspect-ratio: 1/1;
        }

        .txt-card {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          padding: 8px 4px;
          width: 100%;

          & p {
            font-size: 12px;
            line-height: 12px;
          }
        }
      }
    }
  }
}


/* //////////////////small comp to finish///////////////// */

@media (768px < width <= 992px) {
  .mobile {
    display: none;
  }

  h1 {
    font-size: 80px;
    line-height: 80px;
    padding-bottom: 8px;
  }

  h2 {
    font-size: 30px;
    line-height: 30px;
  }

  h3 {
    font-size: 22px;
    line-height: 22px;
  }

  h4 {
    font-size: 22px;
    line-height: 22px;
  }

  p {
    font-size: 22px;
    line-height: 22px;
  }

  .page1 {

    .cov-comp {
    
      .infos-comp {
        display: flex;
        width: 100%;
  
        & p {
          font-size: 16px;
        }
      }
  
      #txt1-c {
        justify-content: space-between;
  
        .txt1 {
          display: inline-block;
          padding-left: 10%;
          padding-top: 2%;
        }
  
        .txt2 {
          display: inline-block;
          padding-left: 30%;
          padding-top: 6%;
        }
  
        .txt3 {
          display: inline-block;
          padding-right: 20%;
          padding-top: 1%;
        }
      }
  
      #txt2-c {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 24px;
        justify-content: space-between;
        align-items: center;
  
        & div {
          flex-grow: 1;
          max-width: 30%;
        }
  
        .cv {
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          justify-content: flex-end;
        }
  
        .btn-portfolio {
          margin-right: auto;
  
          & :hover {
            box-shadow: 0 15px 25px black;
          }
        }
      }
    }
  }


  .page2 {

    .infos {
      width: 100vw;
      height: 100vh;
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      overflow: scroll;

      .sections {
        display: flex;
        flex-direction: column;
        gap: 88px;
        margin-bottom: 44px;

        .subsection {
          display: flex;
          flex-direction: column;
          flex: 1 1 45%;
          gap: 16px;
          border-left: solid var(--black);
          padding-left: 2vw;
      
          .content {
            display: flex;
            flex-direction: row;
            gap: 12px;
            justify-content: space-between;
            align-items: flex-start;
            flex: 1 1 0px;

            .time {
              color: var(--white);
              background: var(--black);
              padding: 6px 12px 8px 12px;
              border-radius: 20px;
              display: inline-block;
              /* flex: 1 1 0px; */
            }

            & span {
              flex: 1 1 0px;
            }
          }

          .competences {
            display: flex;
            flex-direction: column;
            flex: 1 1 0px;
            gap: 16px;
            padding-right: 2vw;

            .competence {
              display: flex;
              flex-direction: row;
              gap: 8px;
              align-items: center;
              flex: 1 1 0px;

              & h2 {
                width: 252px;
                padding: 0;
              }

              & img {
                flex: 1 1 0;
              }
            }
          }

          .marge {
            margin-bottom: 24px;
          }
        }

        .subsection:nth-child(4) {
          & span {
            display: flex;
            flex-direction: row;
            flex: 0 1 0px;
            align-items: flex-end;
            gap: 8px;
          }
        }
      }
    }
  }

  .portfolio-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 8px;
    z-index: 2;
    background: var(--white);
    overflow: scroll;
  }

  .page3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;

    .cards-row {
      display: flex;
      flex-direction: row;
      gap: 8px;
      flex: 1 0 0;
    
      .card {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: flex-end;
        gap: 4px;
        min-width: 64%;

        .img-card {
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          flex: 1 1 0;
          border-radius: 10px;
          /* aspect-ratio: 1/1; */
        }

        .txt-card {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          padding: 8px 4px;
          width: 100%;

          & p {
            font-size: 14px;
            line-height: 14px;
          }
        }
      }
    }
  }
}

/* /////////////////comp////////////////// */

/* @media (768px < width <= 992px) {
  .txt-card {
    & h4 {
      font-size: 14px;
      line-height: 14px;
      padding: 6px 0 8px 0;
    }

    & h5 {
      font-size: 12px;
      line-height: 12px;
    }
  }
} */

@media (992px < width <= 1200px) {
  .mobile {
    display: none;
  }

  h1 {
    font-size: 80px;
    line-height: 80px;
  }

  h2 {
    font-size: 40px;
    line-height: 40px;
  }

  h3 {
    font-size: 22px;
    line-height: 22px;
  }

  h4 {
    font-size: 22px;
    line-height: 22px;
  }

  p {
    font-size: 24px;
    line-height: 24px;
  }

  .page1 {

    .cov-comp {
    
      .infos-comp {
        display: flex;
        width: 100%;
  
        & p {
          font-size: 16px;
        }
      }
  
      #txt1-c {
        justify-content: space-between;
  
        .txt1 {
          display: inline-block;
          padding-left: 10%;
          padding-top: 2%;
        }
  
        .txt2 {
          display: inline-block;
          padding-left: 30%;
          padding-top: 6%;
        }
  
        .txt3 {
          display: inline-block;
          padding-right: 20%;
          padding-top: 1%;
        }
      }
  
      #txt2-c {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 24px;
        justify-content: space-between;
        align-items: center;
  
        & div {
          flex-grow: 1;
          max-width: 30%;
        }
  
        .cv {
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          justify-content: flex-end;
        }
  
        .btn-portfolio {
          margin-right: auto;
  
          & :hover {
            box-shadow: 0 15px 25px black;
          }
        }
      }
    }
  }


  .page2 {

    .infos {
      width: 100vw;
      height: 100vh;
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      overflow: scroll;

      .sections {
        display: flex;
        flex-direction: column;
        gap: 88px;
        margin-bottom: 52px;

        .subsection {
          display: flex;
          flex-direction: column;
          flex: 1 1 45%;
          gap: 16px;
          border-left: solid var(--black);
          padding-left: 2vw;

          .content {
            display: flex;
            flex-direction: row;
            gap: 12px;
            justify-content: space-between;
            align-items: flex-start;
            flex: 1 1 0px;

            .time {
              color: var(--white);
              background: var(--black);
              padding: 6px 12px 8px 12px;
              border-radius: 20px;
              display: inline-block;
            }

            & span {
              flex: 1 1 0px;
            }
          }

          .competences {
            display: flex;
            flex-direction: column;
            flex: 1 1 0px;
            gap: 16px;
            padding-right: 2vw;

            .competence {
              display: flex;
              flex-direction: row;
              gap: 8px;
              align-items: center;
              flex: 1 1 0px;

              & h2 {
                width: 360px;
              }

              & img {
                flex: 1 1 0;
              }
            }
          }

          .marge {
            margin-bottom: 24px;
          }
        }

        .subsection:nth-child(4) {
          & span {
            display: flex;
            flex-direction: row;
            flex: 0 1 0px;
            align-items: flex-end;
            gap: 8px;
          }
        }
      }
    }
  }

  .portfolio-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 8px;
    z-index: 2;
    background: var(--white);
  }

  .page3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;

    .cards-row {
      display: flex;
      flex-direction: row;
      gap: 8px;
      flex: 1 0 0;

      .card {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: flex-end;
        gap: 4px;

        .img-card {
          width: 100%;
          /* height: 100%; */
          max-height: 80%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          flex: 1 1 0;
          border-radius: 10px;
          aspect-ratio: 1/1;
        }

        .txt-card {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          padding: 8px 4px;
          width: 100%;

          & p {
            font-size: 14px;
            line-height: 14px;
          }
        }
      }
    }
  }
}

/* /////////////////big comp////////////////// */

@media (1200px < width) {
  .mobile {
    display: none;
  }

  h1 {
    font-size: 80px;
    line-height: 80px;
  }

  h2 {
    font-size: 30px;
    line-height: 30px;
  }

  h3 {
    font-size: 20px;
    line-height: 20px;
  }

  h4 {
    font-size: 18px;
    line-height: 18px;
  }

  p {
    font-size: 24px;
    line-height: 24px;
  }

  .page1 {

    .cov-comp {
    
      .infos-comp {
        display: flex;
        width: 100%;
  
        & p {
          font-size: 16px;
        }
      }
  
      #txt1-c {
        justify-content: space-between;
  
        .txt1 {
          display: inline-block;
          padding-left: 10%;
          padding-top: 2%;
        }
  
        .txt2 {
          display: inline-block;
          padding-left: 30%;
          padding-top: 6%;
        }
  
        .txt3 {
          display: inline-block;
          padding-right: 20%;
          padding-top: 1%;
        }
      }
  
      #txt2-c {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 24px;
        justify-content: space-between;
        align-items: center;
  
        & div {
          flex-grow: 1;
          max-width: 30%;
        }
  
        .cv {
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          justify-content: flex-end;
        }
  
        .btn-portfolio {
          margin-right: auto;
  
          & :hover {
            box-shadow: 0 15px 25px black;
          }
        }
      }
    }
  }


  .page2 {

    .infos {
      width: 100vw;
      height: 100vh;
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      overflow: scroll;

      .sections {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 3vw;
        row-gap: 100px;
        margin-bottom: 52px;

        .subsection {
          display: flex;
          flex-direction: column;
          flex: 1 1 45%;
          gap: 16px;
          border-left: solid var(--black);
          padding-left: 1vw;

          .content {
            display: flex;
            flex-direction: row;
            gap: 12px;
            justify-content: space-between;
            align-items: flex-start;
            flex: 1 1 0px;

            .time {
              color: var(--white);
              background: var(--black);
              padding: 6px 12px 8px 12px;
              border-radius: 20px;
              display: inline-block;
            }

            & span {
              flex: 1 1 0px;
            }
          }

          .competences {
            display: flex;
            flex-direction: column;
            flex: 1 1 0px;
            gap: 16px;
            padding-right: 2vw;

            .competence {
              display: flex;
              flex-direction: row;
              gap: 8px;
              align-items: center;
              flex: 1 1 0px;

              & h2 {
                width: 360px;
              }

              & img {
                flex: 1 1 0;
              }
            }
          }

          .marge {
            margin-bottom: 24px;
          }
        }

        .subsection:nth-child(4) {
          & span {
            display: flex;
            flex-direction: row;
            flex: 0 1 0px;
            align-items: flex-end;
            gap: 8px;
          }
        }
      }
    }
  }

  .portfolio-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 8px;
    z-index: 2;
    background: var(--white);
  }

  .page3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;

    .cards-row {
      display: flex;
      flex-direction: row;
      gap: 8px;
      flex: 1 0 0;

      .card {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: flex-end;
        gap: 4px;

        .img-card {
          width: 100%;
          /* height: 100%; */
          max-height: 82%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          flex: 1 1 0;
          border-radius: 10px;
          aspect-ratio: 1/1;
        }

        .txt-card {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          padding: 8px 4px;
          width: 100%;

          & p {
            font-size: 14px;
            line-height: 14px;
          }
        }
      }
    }
  }
}